/* poppin font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Inter font */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

*{
    margin: 0;padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color:white;
/* overflow-x: hidden; */
}

body{
    background: #000;
    width: 94%;
    margin-inline:auto ;
}

header{
    background-color: black;
    color: white;
    display: flex;
    justify-content:space-between;
    padding: 10px;
    align-items: baseline;
    padding-inline: 30px;
    border: 1px solid darkblue;
    position: sticky;
    top: 0;

}

ul, .socialmedia{
    display: flex;
    list-style: none;
    gap:30px;

}

ul li a ,a {
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
}

.logo h5{
font-size: 30px;
font-weight: 500;

}

.hero{
    background:url(./images/hero_pizza.png) ;
    width: 100%;
    height: 87vh;
    background-position: center;
    background-size: cover;
    margin-top: 10px;
display: flex;
    /* justify-content: center; */
    align-items: center;
}

.hero .content{
    display: flex;
    width: 50%;
    padding: 50px;
    gap:20px;
    flex-direction: column;

    

}
.content h1{
    font-size: 4vw;
    font-weight: 600;

    font-family: Inter,sans-serif;
    letter-spacing: 4px;
}

.hero hr{
    border:4px solid #F24C4C;
    width: 66%;
}

.hero p{
    font-size: 15px;
}

.about_us h1{
    /* text-align: center; */
}

.about_us_h1 hr {
    border:4px solid #F24C4C;
    width: 16%;   
}

.about_us_h1{
    /* text-align: center; */
        /* text-align: center; */
        margin-inline: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
        margin-bottom: 50px;
    }

    .about_us_h1 h1{
        font-size: 2vw;
        font-weight: 300;
        
    }

    .about_us_grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 77%;
        margin: 0 auto;
    }

    .about_us_grid img{
        width: 500px;
    }
    .about_us_grid .lorem{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-right: 100px;
        gap: 15px;
    }

    .lorem hr{
        border: 2px solid #F24C4C;
        width: 81%;
        display: flex;
        /* flex:left; */
        margin-right : 100px ;
    }

    .menu_section{
        width: 77%;
        margin-inline:auto;

    }

    .menu_section .explore_para{
        margin: 30px;
        font-weight: 300;
        font-size: 17px;
    }

    .card{
        /* display: grid;
        
        grid-template-columns: 40% 60%;
        width: 600px; */
    
        display: flex;
        width: 474px;
        gap: 20px;


    }
    .card img{
        width: 200px;
    }
    
    .menu_card{
        display: flex;
        flex-wrap: wrap;
        gap: 26px;
    }

    .carousel{
        width: 87%;
        margin: 0 auto;
        /* height: 200px; */
    }
    .carousel img{
        width:100%
    }
    .carousel_img_div{
        display: flex;
        align-items: center;
    }
    .carousel_img_div i{
        font-size: 40px;

    }

    .dots{
        text-align: center;
        margin: 30px 0;
    }
    .dots span:nth-child(1){
        width: 10px;
        height: 10px;
        background: #ffffff;
        border-radius: 50%;
        display: inline-block;
        margin: 0 5px;
    }

    .dots span{
        width: 10px;
        height: 10px;
        background: #6f6666;
        border-radius: 50%;
        display: inline-block;
        margin: 0 5px;
    }

    .gallery_grid{
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        margin-bottom: 300px;
        gap: 10px;
        overflow-x: hidden;
        object-fit: cover;
        
    }

    .gallery{
        /* width: 80%; */
    }
    .col1{
        /* width: 400px; */
    }

    .col1 img{
        width: 786px;
        height: 610px;
        border-radius: 10px;
    }
    .col2 img{
        width: 274px;
        border-radius: 10px;
        height: 200px;
    }
    .col3 img{
        width: 274px;
        border-radius: 10px;
        height: 300px;
        object-fit: cover;
    }

    
